<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mei.test">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.paint.MinionActivity">
            <intent-filter>
                <action android:name="action.ui.activity.MinionActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.path.PathActivity">
            <intent-filter>
                <action android:name="action.ui.activity.path.PathActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.path.PathOpActivity">
            <intent-filter>
                <action android:name="action.ui.activity.path.PathOpActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.paint.PaintHighActivity">
            <intent-filter>
                <action android:name="action.ui.activity.paint.PaintHighActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.svg.TaiWanMapActivity">
            <intent-filter>
                <action android:name="action.ui.activity.svg.TaiWanMapActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.paint.RadarActivity">
            <intent-filter>
                <action android:name="action.ui.paint.RadarActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.animation.AnimationActivity">
            <intent-filter>
                <action android:name="action.ui.paint.AnimationActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.paint.RippleActivity">
            <intent-filter>
                <action android:name="action.ui.paint.RippleActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.paint.InvertedImageActivity">
            <intent-filter>
                <action android:name="action.ui.paint.InvertedImageActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.xfermode.XfermodeActivity">
            <intent-filter>
                <action android:name="action.ui.xfermode.XfermodeActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.xfermode.SrcMainActivity">
            <intent-filter>
                <action android:name="action.ui.xfermode.SrcMainActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.xfermode.DstMainActivity">
            <intent-filter>
                <action android:name="action.ui.xfermode.DstMainActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.xfermode.OtherModeActivity">
            <intent-filter>
                <action android:name="action.ui.xfermode.OtherModeActivity"/>

                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </activity>
        <activity android:name=".ui.paint.PaintMainActivity"/>
        <activity android:name=".ui.path.PathMainActivity"/>
        <activity android:name=".ui.xfermode.XfermodeMainActivity"/>
        <activity android:name=".ui.filter.FilterActivity"/>
        <activity android:name=".ui.canvas.CanvasBaseActivity"/>
        <activity android:name=".ui.canvas.CanvasMainActivity"/>
        <activity android:name=".ui.canvas.RevealActivity"/>
        <activity android:name=".ui.canvas.SearchViewActivity"/>
        <activity android:name=".ui.path.CurveViewActivity"/>
        <activity android:name=".ui.path.GarbageActivity"/>
        <activity android:name=".ui.path.WaveActivity"/>
        <activity android:name=".ui.path.DragBubbleActivity"/>
        <activity android:name=".ui.palatte.PaletteActivity"/>
        <activity android:name=".ui.customview.CustomViewMainActivity"/>
        <activity android:name=".ui.customview.ImageViewActivity"/>
        <activity android:name=".ui.customview.DoubleImageViewActivity"/>
        <activity android:name=".ui.customview.CustomTextViewActivity"/>
        <activity android:name=".ui.flowlayout.FlowLayoutActivity"/>

    </application>

</manifest>